body{
    background-color: rgb(14, 13, 13);
}
.enter{
  text-align: right;
   margin: 1%;
padding: 1%;
background-color: rgb(86, 86, 86);
word-spacing: 100px;
border: rgb(12, 121, 184) outset 5px;
border-radius: 10px;
}
.in{
  color:rgb(0, 0, 0);
}